.contenedor{
    display: flex;
    justify-content: center; 
    
}

table{
    
    border-collapse: collapse;
    border: 2px solid rebeccapurple;
    letter-spacing: 1px;
    font-size: 25px;
}
th{
    border: 1px solid white;
    padding: 10px;
    background-color: darkmagenta;
}

td{
    border: 1px solid white;
    padding: 10px;
    background-color: rgb(233, 166, 188);
}

h2{
    margin: 10px;
    padding: 10px;
    text-decoration: underline;
}

.contenedor2{
    flex: 1;
}